
body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(white);
  margin: 0px auto;
  max-width: 100%;
}
#topbar {
  width: 100%;
  height: 50px;
  background-color: purple;
}
#page-container {
  margin: auto;
  padding: 20px 20px 0px;
}
#body-text {
  max-width: 70%;
}
/*table*/
table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #dddddd;
  padding: 4px;
}
th {
  color: #ffffff;
  font: bold;
  text-align: left;
  background-color: steelblue;
}
tr:nth-child(even) {
  background-color: lightblue;
}
